@import "bootstrap-custom";

/* Limit image width to avoid overflow the container */
img {
  max-width: 100%;
}

.header {
  padding: 10px;
  color: #fff;
  background: #2ecc71;
  margin-bottom: 10px;
}

  .title {
    margin: 0;
  }

#imagefile {
  display: none;
}

// remove gutter
.url-input-wrapper {
  padding-left: 0;
}
